# Compilação
/target/
/build/
/out/

# Logs
*.log

# IDEs
### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.project
.classpath
.settings/
bin/

### VS Code ###
.vscode/

# SO
.DS_Store
Thumbs.db

# Arquivos temporários
*.swp
*.swo
*.tmp

# Dependências
/node_modules/

# Test coverage
/coverage/
/jacoco.exec

# Spring Boot específico
/spring.log
application-*.yml
application-*.properties
